{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
Home
{% endblock %}

{% block body %}
<a class="btn btn-primary" href={{path("app_login")}}>Connexion</a>
<a class="btn btn-primary" href={{path("app_register")}}>Inscription</a>
{% endblock %}