{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
Accueil
{% endblock %}

{% block body %}
<a class="btn btn-primary" href={{path("app_home_home")}}>Transporteur</a>
<a class="btn btn-primary" href={{path("app_home_home")}}>Utilisateur</a>

{% endblock %}
