{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>Creer une nouvelle annonce</h1>

    <a href="{{ path('app_annonce_index') }}">Retour</a>
    
    {{ include('front/annonce/_form.html.twig') }}

{% endblock %}
