{% extends "base.html.twig" %}

{% block title %}

{{parent()}}
Comment ça marche
{% endblock %}

{% block body %}
<section>
<h1>Envoi-tout , Comment ça marche </h1>
<h2></h2>
</section>
<section></section>
<section></section>
<section></section>
<section></section>
{% endblock %}